html, body, #map-container { height: 100%; margin: 0; padding: 0;}

#header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

#searchbar {
    width: 400px;
    margin:  23px auto;
    position: absolute;
    top: 12%;
    z-index: 5;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -5px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

#listbox {
    position: absolute;
    top: 20%;
    left: 78%;
    z-index: 5;
    border: 1px solid #999;
    background-color: #fff;
    opacity: 0.75;
    width: 200px;
}
#list-content {
    overflow-y: scroll;
    height: 300px;
    width: 200px;
}

#list-header {
    padding-bottom: 10px;
}

#list-footer {
    font-size: 0.7em;
    text-align: center;
}

#listbox li {
    list-style-type: none;
    padding-right: 10%;
}

#listbox h2 {
    font-size: 1.5em;
    text-align: center;
}

.listbox-button {
    position: relative;
    padding: 6px 15px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    margin-left: 31%;
}

.listbox-button:hover {
    background-color: #fafafa;
    color: #207cca;
}

.listbox-item {
    font-size: 0.8em;
}

.listbox-item h3 {
    -webkit-margin-after: 0em;
}

#listbox img {
    max-width: 130px;
    -webkit-margin-before: 0.2em;
}

.media {
    max-height: 100px;
}

li .media:hover {
    border: 3px solid #207cca;
}


.search {
    padding: 8px 20px;
    border: 1px solid #dbdbdb;
    background: url(http://i.imgur.com/lFkqn.png) left center no-repeat;
}



#map-container {
    margin-top: 7%;
}

#img {
    text-align: center;
}


#firstHeading {
    text-align: center;
    font-size: 1.9em;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}

.inline {
    display: inline;
}

.info {
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.2em;
}

@media screen and (max-width: 400px) {
    #header {
        height: 16%;
    }
    #searchbar {
        top: 35%;
        width: 100%;
    }
    .search {
        width: 90%;
    }
    #map-container {
        height: 80%;
        width: 90%;
        margin: 0 auto;
    }
    #listbox {
        top: 80%;
        left: 0;
        width: 100%;
        height: 2%;
        text-align: center;
    }
    #list-content {
        height: auto;
        width: auto;
    }
    .addInfo {
        display: none;
    }

    h2 {
        display: none;
    }

    .listbox-button {
        margin-left: 0;
        width: 90%;
        margin-top: 1%;
        border-radius: 5%;
    }

    .listbox-item {
        line-height: 0.7em;
    }

    h3 {
        padding: 0;
        -webkit-margin-before: 0;
    }
}